body, html{
    margin: 0;
    height: 100%;
}
.light, .dark{
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
}
.person:first-of-type{
    position: absolute;
    top: 30%;
    left: 45%;
}
.light{
    left: 0;
    background-color: LightCyan;
}
.light .head{
    position: relative;
    width: 10em;
    height: 10em;
    background: #BC8B75;
}
.light .eye{
    cursor: pointer;
    position: absolute;
    width: 3em;
    height: 1.7em;
    top: 30%;
    z-index: 2;
    background: #fff;
    transition: .4s;
}
.light .pupil{
    position: absolute;
    width: 1.5em;
    height: 1.7em;
    z-index: 2;
    background: #503D88;
    transition: .4s;
}
.light .eye:active, .light .eye:active .pupil{
    height: 0;
}
.light .eyeLeft{
    left: 1em;
}
.light .eyeRight{
    right: 1em;
}
.light .pupilLeft{
    right: 0;
}
.light .nose{
    position: absolute;
    top: 50%;
    left: 32%;
    width: 3.5em;
    height: 2em;
    background: black;
}
.light .mouth{
    position: absolute;
    top: 70%;
    left: 1.5em;
    width: 7em;
    height: 1.5em;
    background: blue;
}
.dark{
    right: 0;
    background-color: MidnightBlue;
}